Package: cybersoc-all
Version: 0.0.1-3
Architecture: all
Maintainer: University of Liverpool Cybersecurity Society <cybersecurity@society.liverpoolguild.org>
Installed-Size: 11
Depends: steghide, pwncat, openvpn, seclists, feroxbuster, rlwrap
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
